body{
	background-color: #4D685A;
}
.title{
	color: #4FB286;
	text-align: center;
	font-size: 50px;
	margin-top: 30px;
}
.container{
	min-height: 500px;
	min-width: 500px;
	max-width: 500px;
	background-color: #546D64;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.messages{
	min-height: 500px;
	max-height: 500px;
	overflow-y: scroll;
}
.messages::-webkit-scrollbar{
	background-color: #3C896D;
	border-radius: 10px;
}
button, input{
	margin-top: 10px;
}
.input-group{
	width: 470px;
}